<div id="glavni">
  <ng-container *ngIf="isLoading$ | async; else artPiecesTemplate" class="ng-container">
    <div class="loading-text">Loading...</div>
  </ng-container>
  <ng-template #artPiecesTemplate>
    <ng-container *ngFor="let mesto of ribMesta$ | async" class="ng-container" >
      <div class="container">
        <div class="wrapper">
          <div class="banner-image" [ngStyle]="getBackgroundStyle(mesto.slika)"> </div>
          <h1> {{mesto.Naziv}}</h1>
          <p>by: {{mesto.user.username}} <br> published: {{formatDatumPostavljanja(mesto.datumPostavljanja)}}</p>
        </div>
         <div class="button-wrapper"> 
           <button class="btn fill"><a [routerLink]="['/ribolovnoMesto', mesto.id]" class="btn mr-2">Detalji</a></button>
         </div>
           </div>
    </ng-container>
</ng-template>
</div>