<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="glavni2">
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search po Nazivu" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchText" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>
</div>
<div id="glavni">
  <div class="rib-mesta-container">
    <div class="rib-mesto-card1 col-md-4">
<form [formGroup]="form" (submit)="addRibMesto()" >
  <div class="form-group row padding">
    <label for="text" class="col-4 col-form-label" >Naziv:</label> 
    <div class="col-8">
        <input id="text" name="text" type="text" class="form-control" formControlName="naziv" [(ngModel)]="naziv">
    </div>
  </div>
  <div class="form-group row ">
    <label for="select" class="col-4 col-form-label">Tip ribe:</label> 
    <div class="col-8">
      <select id="select" name="select" class="custom-select text-left" formControlName="tipRibe" [(ngModel)]="tipRibe">
        <option value="Default" [selected]="true">Izaberi..</option>
        <option value="Pastrmka">Pastrmka</option>
        <option value="Som">Som</option>
        <option value="Smudj">Smudj</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Poseduje</label> 
    <div class="col-8">
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="checkbox" id="checkbox_0" type="checkbox" checked="checked" class="custom-control-input" value="rabbit" formControlName="platforma" [(ngModel)]="platforma"> 
        <label for="checkbox_0" class="custom-control-label">Platforma</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="checkbox" id="checkbox_1" type="checkbox" class="custom-control-input" value="duck" checked="checked" formControlName="osvetljenost" [(ngModel)]="osvetljenost"> 
        <label for="checkbox_1" class="custom-control-label">Osvetljenost</label>
      </div>
    </div>
  </div>
  <div class="form-group row padding">
    <label for="text1" class="col-4 col-form-label">Latitude:</label> 
    <div class="col-8">
      <input id="text1" name="text1" type="number" class="form-control" formControlName="latitude" [(ngModel)]="latitude">
    </div>
  </div>
  <div class="form-group row padding">
    <label for="text2" class="col-4 col-form-label">Longitude:</label> 
    <div class="col-8">
      <input id="text2" name="text2" type="number" class="form-control" formControlName="longitude" [(ngModel)]="longitude">
    </div>
  </div>
  <div class="form-group row padding">
    <label for="slika" class="col-4 col-form-label">Slika:</label> 
    <div class="col-8">
      <input type="file" (change)="onFileChange($event)" formControlName="slika" class="form-control form-control-lg" id="slika" />    </div>
  </div>  
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Dodaj</button>
    </div>
  </div>
</form>
    
</div>
    <ng-container *ngIf="isLoading$ | async; else ribolovnaTemplate" class="ng-container">
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </ng-container>
    <ng-template #ribolovnaTemplate>
        <ng-container *ngIf="(ribMesta$ | async) !== null; else loadingTemplate">
          <ng-container *ngFor="let mesto of ribMesta$ | async | filter:searchText">
            <div class="rib-mesto-card col-md-4">
              <div class="banner-image" [ngStyle]="getBackgroundStyle(mesto.slika)"></div>
              <h1>{{ mesto.Naziv }}</h1>
              <p>published: {{ formatDatumPostavljanja(mesto.datumPostavljanja) }}</p>
              <button class="btn fill" [routerLink]="['/mojeRibolovnoMesto', mesto.id]">Detalji</button>
            </div>
          </ng-container>
        </ng-container>
    <ng-template #loadingTemplate>
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </ng-template>
  </ng-template>
</div>
  </div>