<div id="glavni">
    <ng-container *ngIf="isLoading$ | async; else artPiecesTemplate" class="ng-container">
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      </ng-container>
      <ng-template #artPiecesTemplate>
        <div class="container">
          <div class="card">
            <div class="container-fliud">
              <div class="wrapper row">
                <div class="preview col-md-6">
                  
                  <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1"><img [src]="(ribMesto$ | async)?.slika" /></div>
                  </div>
                  
                </div>
                <div class="details col-md-6">
                  <h3 class="product-title">{{ (ribMesto$ | async)?.Naziv }}</h3>
                  <h4 class="price">Tip robe: <span>{{ (ribMesto$ | async)?.TipRibe }}</span></h4>
                  <h4 class="price">Platforma: <span>{{ (ribMesto$ | async)?.PostojanjePlatforme }}</span></h4>
                  <h4 class="price">Osvetljenost: <span>{{ (ribMesto$ | async)?.Osvetljenost }}</span></h4>
                  <h4 class="price">Latitude: <span>{{ (ribMesto$ | async)?.Latitude }}</span></h4>
                  <h4 class="price">Longitude: <span>{{ (ribMesto$ | async)?.Longitude }}</span></h4>
                  <h4 class="price">Datum Postavljanja: <span>{{ formatDatumPostavljanja((ribMesto$ | async)?.datumPostavljanja) }}</span></h4>
                  <h4 class="price">Oglašavač: <span>{{ (ribMesto$ | async)?.user?.username }}</span></h4>
                  <div class="action">
                    <button class="add-to-cart btn btn-default" type="button" (click)="updateRibolovno()">Update</button>
                    <button class="add-to-cart btn btn-default" (click)="deleteRibolovno()">Delete</button>
                  </div>
                </div>
                <ng-container *ngIf="updateRib">
                  <div class="row d-flex justify-content-center">
                    <form [formGroup]="form" (submit)="updateRibMesto()">
                      <div class="form-group row">
                        <label for="text" class="col-4 col-form-label" >Naziv:</label> 
                        <div class="col-8">
                          <div class="input-group"> 
                            <input id="text"  type="text" class="form-control" formControlName="naziv" [(ngModel)]="naziv">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="select" class="col-4 col-form-label">Tip ribe ako je menjaš:</label> 
                        <div class="col-8">
                          <select id="select"  class="custom-select" formControlName="tipRibe" [(ngModel)]="tipRibe">
                            <option value="Default" [selected]="true">Izaberi..</option>
                            <option value="Pastrmka">Pastrmka</option>
                            <option value="Som">Som</option>
                            <option value="Smudj">Smudj</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-4">Poseduje</label> 
                        <div class="col-8">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input  id="checkbox_0" type="checkbox" checked="checked" class="custom-control-input" value="rabbit" formControlName="platforma" [(ngModel)]="platforma"> 
                            <label for="checkbox_0" class="custom-control-label">Platforma</label>
                          </div>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input  id="checkbox_1" type="checkbox" class="custom-control-input" value="duck" checked="checked" formControlName="osvetljenost" [(ngModel)]="osvetljenost"> 
                            <label for="checkbox_1" class="custom-control-label">Osvetljenost</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="text1" class="col-4 col-form-label">Slika:</label> 
                        <div class="col-8">
                          <input type="file" (change)="onFileChange($event)" formControlName="slika" class="form-control form-control-lg" id="slika" />                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-4 col-8">
                          <button  type="submit" class="btn btn-primary">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-container>
                <google-map height="500px"
                width="100%"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
                <map-marker
                  #markerElem="mapMarker"
                  *ngFor="let marker of markers"
                  [position]="marker.position"
                  [label]="marker.label"
                  [title]="marker.title"
                  [options]="marker.options"
                >
                </map-marker>
              </google-map>
                <section>
                  <div>
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-12 col-lg-10">
                        <div class="card text-dark">
                          <div class="card-body p-4">
                            <h4 class="mb-0">Komentari</h4>
                            <p class="fw-light mb-4 pb-2">Najskoriji komentari</p>
                            <ng-container *ngIf="isLoading$ | async; else artPiecesTemplate" class="ng-container">
                              <div class="loading-text">Loading...</div>
                            </ng-container>
                            <ng-template #artPiecesTemplate>
                              <ng-container *ngFor="let komentar of komentari$ | async " class="ng-container" >
                              <hr class="my-0" />
      
                              <div class="card-body p-4">
                            <div class="d-flex flex-start"> 
                              <img class="rounded-circle shadow-1-strong me-3"
                                [src]="komentar.user.slika" alt="avatar" width="60"
                                height="60" />
                              <div>
                                <h6 class="fw-bold mb-1">{{komentar.user.username}}</h6>
                                  <div class="d-flex align-items-center mb-3">
                                          <p class="mb-0">
                                          {{formatDatumPostavljanjaa(komentar.datumPostavljanja)}}
                                          </p>
                                  </div>
                                <p class="mb-0">
                                  {{komentar.Opis}}
                                </p>
                                <app-rating [initialRating]="komentar.Ocena" [locked]="true"></app-rating>
                              </div>
                          </div>
                          </div>
                        </ng-container>
                      </ng-template> 
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
              </section> 
              </div>
              
            </div>
            
          </div>
          
        </div>
      </ng-template>
</div>
