<section id="hero" class="vh-100" style="background-color: rgba(80, 140, 252, 0.189);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Login</h3>
              <form [formGroup]="form" (submit)="login()">
              <div class="form-outline mb-4">
                <input type="text" formControlName="username" class="form-control form-control-lg"  />
                <label class="form-label" for="typeEmailX-2">Username</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" formControlName="password" class="form-control form-control-lg"  />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
  
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
              <hr class="my-4">
  
              <div>
                <p class="mb-0">Nemate nalog? <a routerLink="/register" class="btn btn-primary" >Registrujte se</a></p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>