<div id="glavni">
    <ng-container *ngIf="isLoading$ | async; else artPiecesTemplate" class="ng-container">
        <div class="loading-text">Loading...</div>
      </ng-container>
      <ng-template #artPiecesTemplate>
<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>{{ (ribMesto$ | async)?.Naziv }}</h1>            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>Tip ribe: {{ (ribMesto$ | async)?.TipRibe }}</li>
                    <li>Platforma: {{ (ribMesto$ | async)?.PostojanjePlatforme }}</li>
                    <li>Osvetljenost: {{ (ribMesto$ | async)?.Osvetljenost }}</li>
                    <li>Latitude: {{ (ribMesto$ | async)?.Latitude }}</li>
                    <li>Longitude: {{ (ribMesto$ | async)?.Longitude }}</li>
                    <li *ngIf="(ribMesto$ | async)?.datumPostavljanja !== undefined">Datum Postavljanja: {{ formatDatumPostavljanja((ribMesto$ | async)?.datumPostavljanja) }}</li>
                    <li>Oglasavac: {{ (ribMesto$ | async)?.user?.username }}</li>
                </ul>
            </div>
            <div class="col-md-7"> <img [src]="(ribMesto$ | async)?.slika" width="90%" height="95%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <div class="col-md-2 mio offset-md-4"><a href="#">ADD TO CART</a></div>
            <div class="col-md-2 myt "><button type="button" class="btn btn-outline-warning"><a href="#">BUY NOW</a></button></div>
        </div>
    </div>
</div>
      </ng-template>
</div>