<div id="glavni">
    <ng-container *ngIf="isLoading$ | async; else mestaTemplate" class="ng-container">
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      </ng-container>
      <ng-template #mestaTemplate>
        <div class="container">
          <div class="card">
            <div class="container-fliud">
              <div class="wrapper row">
                <div class="preview col-md-6">
                  
                  <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1"><img [src]="(ribMesto$ | async)?.slika" /></div>
                  </div>
                  
                </div>
                <div class="details col-md-6">
                  <h3 class="product-title">{{ (ribMesto$ | async)?.Naziv }}</h3>
                  <h4 class="price">Tip robe: <span>{{ (ribMesto$ | async)?.TipRibe }}</span></h4>
                  <h4 class="price">Platforma: <span>{{ (ribMesto$ | async)?.PostojanjePlatforme }}</span></h4>
                  <h4 class="price">Osvetljenost: <span>{{ (ribMesto$ | async)?.Osvetljenost }}</span></h4>
                  <h4 class="price">Latitude: <span>{{ (ribMesto$ | async)?.Latitude }}</span></h4>
                  <h4 class="price">Longitude: <span>{{ (ribMesto$ | async)?.Longitude }}</span></h4>
                  <h4 class="price">Datum Postavljanja: <span>{{ formatDatumPostavljanja((ribMesto$ | async)?.datumPostavljanja) }}</span></h4>
                  <h4 class="price">Oglašavač: <span>{{ (ribMesto$ | async)?.user?.username }}</span></h4>
                  <div class="action">
                  <ng-container *ngIf="!isAdmin && isLogedIn">
                  <button *ngIf="(ribMesto$ | async)?.user?.username!==this.user.username" class="add-to-cart btn btn-default" type="button" (click)="dodajKomentarClick()">Dodaj komentar</button>
                  </ng-container>

                </div>
                </div>
                <google-map height="500px"
                  width="100%"
                  [center]="center"
                  [zoom]="zoom"
                  (mapClick)="moveMap($event)"
                  (mapMousemove)="move($event)">
                  <map-marker
                    #markerElem="mapMarker"
                    *ngFor="let marker of markers"
                    [position]="marker.position"
                    [label]="marker.label"
                    [title]="marker.title"
                    [options]="marker.options"
                  >
                  </map-marker>
                </google-map>
                <ng-container *ngIf="dodajKomentar">
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-10 col-lg-8 col-xl-6">
                        <div class="card">
                          <div class="card-body p-4">
                            <div class="d-flex flex-start w-100">
                              <img class="rounded-circle shadow-1-strong me-3"
                                [src]='user.slika' alt="avatar" width="65"
                                height="65" />
                              <div class="w-100">
                                <h5>Dodaj komentar</h5>
                                <app-rating [locked]="false" (onRaiting)="Handle($event)"></app-rating>
                                <div class="form-outline">
                                  <textarea class="form-control" id="textAreaExample" rows="4" [(ngModel)]="kom"></textarea>
                                  <label class="form-label" for="textAreaExample">Kakvo je vaše iskustvo?</label>
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                  <button type="button" class="btn btn-danger" (click)="saveKomentarClick()">
                                    Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </ng-container>
                <section>
                  <div>
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-12 col-lg-10">
                        <div class="card text-dark">
                          <div class="card-body p-4">
                            <h4 class="mb-0">Komentari</h4>
                            <p class="fw-light mb-4 pb-2">Najskoriji komentari</p>
                            <ng-container *ngIf="isLoading$ | async; else artPiecesTemplate" class="ng-container">
                              <div class="loading-text">Loading...</div>
                            </ng-container>
                            <ng-template #artPiecesTemplate>
                              <ng-container *ngFor="let komentar of komentari$ | async " class="ng-container" >
                              <hr class="my-0" />
      
                              <div class="card-body p-4">
                            <div class="d-flex flex-start"> 
                              <img class="rounded-circle shadow-1-strong me-3"
                                [src]="komentar.user.slika" alt="avatar" width="60"
                                height="60" />
                              <div>
                                <h6 class="fw-bold mb-1">{{komentar.user.username}}</h6>
                                  <div class="d-flex align-items-center mb-3">
                                          <p class="mb-0">
                                          {{formatDatumPostavljanjaa(komentar.datumPostavljanja)}}
                                          </p>
                                  </div>
                                <p class="mb-0">
                                  {{komentar.Opis}}
                                </p>
                                <app-rating [initialRating]="komentar.Ocena" [locked]="true"></app-rating>
                                <button *ngIf="komentar.user.username==this.user?.username"  type="submit" class="btn btn-primary" (click)="delete(komentar.id)">Delete</button>
                                </div>
                                
                          </div>
                          </div>
                        </ng-container>
                      </ng-template> 
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
              </section> 
              </div>
              
            </div>
            
          </div>
          
        </div>
      </ng-template>
</div>