<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a routerLink="/" class="nav-link px-2 link-secondary">Ribolov</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a routerLink="/" class="nav-link px-2 link-secondary"><a class="nav-link scrollto active">Home</a></a></li>
        <li><a class="nav-link scrollto" routerLink="/ribolovnaMesta">Ribolovna mesta</a></li>
        <li><a class="nav-link scrollto" routerLink="/mojaRibolovnaMesta" *ngIf="authenticated">Moja ribolovna mesta</a></li>
        <li><a class="nav-link scrollto" routerLink="/profil" *ngIf="authenticated">Profil</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <div class="col-md-3 text-end" *ngIf="!isLoggedIn">
      <a routerLink="/login" type="button" class="get-started-btn scrollto">Login</a>
      <a routerLink="/register" type="button" class="get-started-btn scrollto">Register</a>
    </div>
    <div class="col-md-3 text-end" *ngIf="isLoggedIn">
      <a routerLink="/login" type="button" class="get-started-btn scrollto" (click)="logout()">Logout</a>
    </div>

  </div>
</header>